################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/packages
/bin/Debug/log4net.dll
/bin/Debug/log4net.xml
/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/bin/Debug/Microsoft.Practices.Unity.Configuration.dll
/bin/Debug/Microsoft.Practices.Unity.Configuration.xml
/bin/Debug/Microsoft.Practices.Unity.dll
/bin/Debug/Microsoft.Practices.Unity.RegistrationByConvention.dll
/bin/Debug/Microsoft.Practices.Unity.RegistrationByConvention.xml
/bin/Debug/Microsoft.Practices.Unity.xml
/bin/Debug/Mono.Cecil.dll
/bin/Debug/Mono.Cecil.Mdb.dll
/bin/Debug/Mono.Cecil.Pdb.dll
/bin/Debug/Mono.Cecil.Rocks.dll
/bin/Debug/NinjaTurtles.dll
/bin/Debug/NinjaTurtles.xml
/bin/Debug/NLog.dll
/bin/Debug/NLog.xml
/bin/Debug/Splinter.Contracts.dll
/bin/Debug/Splinter.Contracts.pdb
/bin/Debug/Splinter.CoverageRunner.OpenCover.dll
/bin/Debug/Splinter.CoverageRunner.OpenCover.pdb
/bin/Debug/Splinter.exe
/bin/Debug/Splinter.exe.config
/bin/Debug/splinter.log
/bin/Debug/Splinter.pdb
/bin/Debug/Splinter.Test.Subject.MSTest.dll
/bin/Debug/Splinter.Test.Subject.MSTest.pdb
/bin/Debug/Splinter.Test.Test.MSTest.dll
/bin/Debug/Splinter.Test.Test.MSTest.pdb
/bin/Debug/Splinter.TestRunner.MSTest.dll
/bin/Debug/Splinter.TestRunner.MSTest.pdb
/bin/Debug/Splinter.vshost.exe
/bin/Debug/Splinter.vshost.exe.config
/bin/Debug/Splinter.vshost.exe.manifest
/bin/Debug/System.Composition.AttributedModel.dll
/bin/Debug/System.Composition.AttributedModel.xml
/bin/Debug/System.Composition.Convention.dll
/bin/Debug/System.Composition.Convention.xml
/bin/Debug/System.Composition.Hosting.dll
/bin/Debug/System.Composition.Hosting.xml
/bin/Debug/System.Composition.Runtime.dll
/bin/Debug/System.Composition.Runtime.xml
/bin/Debug/System.Composition.TypedParts.dll
/bin/Debug/System.Composition.TypedParts.xml
/Splinter.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Splinter.Contracts/obj/Debug/Splinter.Contracts.csproj.FileListAbsolute.txt
/Splinter.Contracts/obj/Debug/Splinter.Contracts.dll
/Splinter.Contracts/obj/Debug/Splinter.Contracts.pdb
/Splinter.Contracts/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Splinter.Contracts/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Splinter.Contracts/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Splinter.CoverageRunner.OpenCover/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Splinter.CoverageRunner.OpenCover/obj/Debug/Splinter.CoverageRunner.OpenCover.csproj.FileListAbsolute.txt
/Splinter.CoverageRunner.OpenCover/obj/Debug/Splinter.CoverageRunner.OpenCover.csprojResolveAssemblyReference.cache
/Splinter.CoverageRunner.OpenCover/obj/Debug/Splinter.CoverageRunner.OpenCover.dll
/Splinter.CoverageRunner.OpenCover/obj/Debug/Splinter.CoverageRunner.OpenCover.pdb
/Splinter.CoverageRunner.OpenCover/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Splinter.CoverageRunner.OpenCover/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Splinter.CoverageRunner.OpenCover/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Splinter.Test.Subject.MSTest/obj/Debug/Splinter.Test.Subject.MSTest.csproj.FileListAbsolute.txt
/Splinter.Test.Subject.MSTest/obj/Debug/Splinter.Test.Subject.MSTest.dll
/Splinter.Test.Subject.MSTest/obj/Debug/Splinter.Test.Subject.MSTest.pdb
/Splinter.Test.Subject.MSTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Splinter.Test.Subject.MSTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Splinter.Test.Subject.MSTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Splinter.Test.Test.MSTest/obj/Debug/Splinter.Test.Test.MSTest.csproj.FileListAbsolute.txt
/Splinter.Test.Test.MSTest/obj/Debug/Splinter.Test.Test.MSTest.csprojResolveAssemblyReference.cache
/Splinter.Test.Test.MSTest/obj/Debug/Splinter.Test.Test.MSTest.dll
/Splinter.Test.Test.MSTest/obj/Debug/Splinter.Test.Test.MSTest.pdb
/Splinter.Test.Test.MSTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Splinter.Test.Test.MSTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Splinter.Test.Test.MSTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Splinter.TestRunner.MSTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Splinter.TestRunner.MSTest/obj/Debug/Splinter.TestRunner.MSTest.csproj.FileListAbsolute.txt
/Splinter.TestRunner.MSTest/obj/Debug/Splinter.TestRunner.MSTest.csprojResolveAssemblyReference.cache
/Splinter.TestRunner.MSTest/obj/Debug/Splinter.TestRunner.MSTest.dll
/Splinter.TestRunner.MSTest/obj/Debug/Splinter.TestRunner.MSTest.pdb
/Splinter.TestRunner.MSTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Splinter.TestRunner.MSTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Splinter.TestRunner.MSTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Splinter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Splinter/obj/Debug/Splinter.csproj.FileListAbsolute.txt
/Splinter/obj/Debug/Splinter.csprojResolveAssemblyReference.cache
/Splinter/obj/Debug/Splinter.exe
/Splinter/obj/Debug/Splinter.pdb
/Splinter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Splinter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Splinter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Splinter/*.user
